/* Global Styles */

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
    padding-bottom: 50px;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	color: #333;
	background-color: #4e9bf3;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: bold;
	margin-bottom: 0.5rem;
}

p {
	margin-bottom: 1rem;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

a {
	color: #0077FF;
	text-decoration: none;
}

a:hover {
	color: #0055AA;
}

button {
	cursor: pointer;
	border: none;
	border-radius: 3px;
	padding: 0.5rem 1rem;
	background-color: #0077FF;
	color: #fff;
	font-weight: bold;
}

button:hover {
	background-color: #0055AA;
}

button {
    margin-bottom: 0.5em;
    border-bottom: 2px solid rgb(146, 146, 146);
    padding-bottom: 0.5em;
  }

button {
    font-size: 0.8rem;
    padding: 0.5rem;
  }
  
button span {
    font-size: 0.8rem;
  }


/* Header Styles */

header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 2rem;
	background-color: rgb(58, 53, 53);
	color: rgb(246, 244, 244);
	z-index: 1000;
  }
  
header .left-side {
	display: flex;
	align-items: center;
	justify-content: center;
	flex: 1;
}

header .right-side{
	color:#fff;
	background-color: transparent;
	z-index: 1200;
	display: inline-block;
}

/* Main Styles */

main {
	margin-top: 5rem;
	padding: 2rem;
	background-color: rgb(184, 184, 184);
	box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
	border-radius: 5px;
}

main h2 {
	font-size: 1.5rem;
	color: #0077FF;
	margin-bottom: 1rem;
}

section:not(:last-child) {
	margin-bottom: 2rem;
}

.about-me-section {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	margin: 50px 0;
  }
  
.about-me-image {
	width: 150px;
  }
  
.about-me-image img {
	width: 100%;
	height: auto;
	border-radius: 5px;
}
  
.about-me-text {
	width: calc(100% - 220px);
}

.about-me-text p {
	font-size: 16px;
	line-height: 1.5;
	margin-bottom: 40px;
}
  

/* Footer Styles */

footer {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 1rem;
	background-color: #fff;
	box-shadow: 0px -1px 5px rgba(0, 0, 0, 0.1);
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
}

footer p {
	font-size: 0.8rem;
	color: #999;
}

/* Custom Styles */

section {
	margin-left: 2rem;
}

/* Blue Theme */

body {
	--primary-color: #0077FF;
	--secondary-color: #0055AA;
}

header {
	background-color: var(--primary-color);
	box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2);
}

button {
	background-color: var(--primary-color);
}

button:hover {
	background-color: var(--secondary-color);
}

main {
	background-color: #f1f1f1;
	box-shadow: none;
}

main h2 {
	color: var(--primary-color);
}

footer {
	background-color: #f1f1f1;
	box-shadow: 0px -1px 5px rgba(0, 0, 0, 0.2);
}

footer p {
	color: #999;
}

/* Responsive Styles */

@media (max-width: 768px) {
    section {
      margin-left: 0;
    }
  }
  
